version: "3.9"

services:
  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    command: redis-server --save 60 1 --loglevel warning

  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    ports:
      - "50051:50051"
    depends_on:
      - redis
    environment:
      - REDIS_ADDR=redis:6379

  car:
    build:
      context: .
      dockerfile: Dockerfile.car
    depends_on:
      - api

  station:
    build:
      context: .
      dockerfile: Dockerfile.station
    depends_on:
      - api