services:
  redis:
    container_name: redis-cache-1
    image: redis:7-alpine
    ports:
      - "6379:6379"
    command: redis-server --save 60 1 --loglevel warning

  api:
    container_name: grpc-api-1
    build:
      context: .
      dockerfile: Dockerfile.api
    ports:
      - "50051:50051"
    depends_on:
      - redis
    environment:
      - REDIS_ADDR=redis:6379
    command: ["sh", "-c", "sleep 4 && ./server"]

  car:
    container_name: vehicle-1
    build:
      context: .
      dockerfile: Dockerfile.car
    depends_on:
      - api

  station:
    container_name: university-station
    build:
      context: .
      dockerfile: Dockerfile.station
    depends_on:
      - api