services:
  redis:
    image: redislabs/redisgears:latest
    container_name: redis-gears-1
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data

  kafka:
    image: apache/kafka:3.8.0
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://:19092,CONTROLLER://:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:19092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
      CLUSTER_ID: 4L6g3nShT-eMCtK--X86sw

  api:
    container_name: grpc-api-1
    build:
      context: .
      dockerfile: Dockerfile.api
    ports:
      - "50051:50051"
    depends_on:
      - redis
      - kafka
    environment:
      - REDIS_ADDR=redis:6379
      - KAFKA_BROKERS=kafka:19092
    command: ["sh", "-c", "./server"]

  #car:
    #container_name: vehicle-1
    #build:
      #context: .
      #dockerfile: Dockerfile.car
    #depends_on:
      #- api

  station:
    container_name: university-station
    build:
      context: .
      dockerfile: Dockerfile.station
    depends_on:
      - api

volumes:
  redis-data: